/* applies to all */
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
/* applies to body */
body {
    background-color: #d9dcd6;
}
/* applies to all header elements */
.header {
    padding-right: 20px;
    padding-top: 20px;
    padding-bottom: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: #435393;
}
.back{
    background-color: 435393;
}

.header h1 {
    display: inline-block;
    font-size: 48px;
}

.header h1 .seo {
    color: #d9dcd6;
}

.header div {
    padding-top: 15px;
    margin-right: 20px;
    float: right;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
}

.header div ul {
    list-style-type: none;
    font color: #435393;
}

.header div ul li {
    display: inline-block;
    margin-left: 25px;
    color: #435393;
}

a {
    color: #ffffff;
    text-decoration: none;
}

p {
    font-size: 16px;
}
/* applies to the large header image */
.hero {
    height: 400px;
    width: 100%;
    margin-bottom: 25px;
    background-image: url("../images/darkblue.png");
    background-size: cover;
    background-position: center;
}
/* different floats for the sections */
.float-left {
    float: left;
    margin-right: 25px;
    margin-left: 25px;
}

.float-right {
    float: right;
}

.content {
    width: 100%;
    display: inline-block;
    margin-left: 20px;
    
}
/* applies to the benifits page */



/* the styling for the left section */
.mrfoxx {
    margin-bottom: 20px;
    padding: 50px;
    height: 300px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #435393;
    color: #ffffff;
}

.mrfoxx img {
    max-height: 200px;
}


.mrfoxx h2 {
    margin-bottom: 20px;
    font-size: 36px;
}


.footer {
    padding: 30px;
    clear: both;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: left;
}

.footer h2 {
    font-size: 20px;
}